{% extends "layout.html" %}

{% block content %}
<h1 class="productos">Descubre nuestra variedad de productos</h1>
<div class="container__products">
    {% for platillo in resulset %}
    <div class="card_products">
      <div class="img-product">
        <img src="../../static/img/{{platillo[3]}}" width="90px" height="90px" alt="PRODUCTO">
      </div>
      <div class="card-body">
        <h6 class="title-product">{{ platillo[1] }}</h6>
        <p class="text-product">{{ platillo[2] }}</p>
      </div>
      <div class="card-footer">
        <span class="text-price">${{ platillo[4] }}</span>
        <div class="card-button">
          <button><a href="/pedido/generarPedido?id={{ platillo[0] }}"><i
                class="fa-solid fa-bag-shopping"></i></a></button>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
{% endblock %}