{% extends "panel.html" %}
{% block content %}
<main>
    
    <div class="recent-order">
        <h2>Empresa</h2>
        <table>
            <thead>
                <tr>
                <th>Razon Social</th>
                <th>Correo</th>
                <th>Direccion</th>
                <th>RFC</th>
                <th></th>
                </tr>
            </thead>
            <tbody>
                {%for row in resulset %}
                <tr>
                    <td>{{row[1]}}</td>
                    <td>{{row[2]}}</td>
                    <td>{{row[3]}}</td>
                    <td>{{row[4]}}</td>
                    <td ><a class="warning" href="updateEmpresa?id={{ row[0] }}" class="btn">
                        <span class="material-symbols-sharp">edit_document</span>
                    </a></td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
    </div>
</main>

{% endblock %}