{% extends "panel.html" %}
{% block content %}
<main>
    <form class="fromPuesto" method="POST" action="/ingrediente/deleteIngrediente">
        <h3 class="puesto_title">Ingrediente </h3>
        <a href="{{url_for('ingrediente.getAll')}}" class="btn btn-outline-success">
            <span class="material-symbols-sharp">assignment_return</span>
        </a>
        <h6 class="puesto_message">Eliminar el ingrediente </h6>
        {% for row in resulset %}
        <label style="display:none;">
            <input  type="text" name="id" class="input_puesto" value="{{row[0]}}">
            <span>id</span>
        </label>  
        <label>
            <input readonly="readonly" required="" placeholder="" type="text" name="ingrediente" class="input_puesto" value="{{row[1]}}">
            <span>Ingrediente</span>
        </label>             
        <label>
            <input readonly="readonly" required="" placeholder="" type="text" name="unidad" class="input_puesto" value="{{row[2]}}">
            <span>Unidad Medida</span>
        </label>  
        <label>
            <input readonly="readonly" required="" placeholder="" type="text" name="stock" class="input_puesto" value="{{row[3]}}">
            <span>Stock Minimo</span>
        </label> 
        {% endfor %}  
        <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
        <button class="submit">Eliminar</button>
    
    </form>
</main>
{% endblock %}