{% extends "layout.html" %}
{% block title %}LOGIN{% endblock %}
{% block description %}INICIA SESIÓN CON NOSOTROS{% endblock %}
{% block content %}
<div class="login">
  <div class="img__login">
  </div>
  <div class="form__login">
    <form class="form_container" action="/security/login" method="POST">
      <h1 class="title__login">COMIENZA A DISFRUTAR</h1>
      <input type="email" name="email" id="user" placeholder="Correo">
      <input type="password" name="password" id="password" placeholder="Contraseña">
      <div class="remember">
        <input type="checkbox" name="remember" id="remember">
        <label for="remember">RECUERDAME</label>
      </div>
      <input type="hidden" name="csrf_token" value="{{csrf_token()}}" />
      <input type="submit" value="Ingresar">
      <span>¿Aún no tienes una cuenta? <a href="{{ url_for('auth.register') }}">Registrate aquí</a></span>
    </form>
  </div>
</div>
{% endblock %}