{% extends "layout.html" %}
{% block content %}
<div class="login">
  <div class="img__login">
  </div>
  <div class="form__login"> 
    <form class="form_container" action="/security/register" method="POST">
      <h1 class="title__login">Unete a Crazy Burger</h1>
      <div class="names">
        <input type="text" name="name" id="name" placeholder="Nombres">
        <input type="text" name="apellidos" id="lastname" placeholder="Apellidos">
        <input type="tel" name="celular" id="phone" placeholder="Teléfono">
      </div>
      <div class="contacts">
        <input type="text" name="calle" id="calle" placeholder="Calle">
        <input type="text" name="colonia" id="colonia" placeholder="Colonia">
        <input type="number" name="codigoP" id="codigoP" placeholder="CP">
      </div>
      <div class="user">
        <input type="email" name="email" id="email" placeholder="Correo">
        <input type="password" name="password" id="password" placeholder="Contraseña">
      </div>
      <input type="hidden" name="csrf_token" value="{{csrf_token()}}" />
      <div class="btn__join">
        <input type="submit" value="Registrar">
      </div>
    </form>
  </div>
</div>
{% endblock %}