{% extends "layout.html" %}
{% block content %}
<div class="container__detail">
  <div class="detail">
    <div class="detail__img">
      <div>
        {% for platillo in platillos %}
        <img src="../../static/img/{{platillo[3]}}" alt="PRODUCTO">
        {% endfor %}
      </div>
    </div>
    <div class="form__detail">
      <h1>Generar pedido</h1>
      <form action="/pedido/generarPedido" method="POST">
        {% for platillo in platillos %}
        <input type="number" name="id" id="id" placeholder="Id del producto" value="{{ platillo[0] }}" hidden>
        <input class="nombrePlatillo" type="text" name="name" id="name" value="{{ platillo[1] }}" disabled
            style="border: none;">
            <br>
        <span class="precioPlatillo">$</span>
        <input type="number" name="precioUnitario" id="precio" value="{{ platillo[4] }}" class="precioPlatillo"
            disabled style="border: none;">
            <br>
        <span>{{ platillo[2] }}</span>
        {% endfor %}
        <input type="hidden" name="csrf_token" value="{{csrf_token()}}" />
        <div class="inputs">
          <div class="input_unidades">
            <button style="border: none; border-radius: 0%;" class="resta" type="button">-</button>
            <input type="text" name="unidades" id="unidades" value="1">
            <button style="border: none; border-radius: 0%;" class="suma" type="button">+</button>
          </div>
        </div>
        <div class="inputs">
          <input type="submit" value="Agregar">
        </div>
      </form>
    </div>
  </div>
</div>

<script>
  var unidadesInput = document.getElementById('unidades');
  var restaButton = document.querySelector('.resta');
  var sumaButton = document.querySelector('.suma');

  restaButton.addEventListener('click', function () {
    var unidades = parseInt(unidadesInput.value);
    unidadesInput.value = unidades - 1;
  });

  sumaButton.addEventListener('click', function () {
    var unidades = parseInt(unidadesInput.value);
    unidadesInput.value = unidades + 1;
  });
</script>

{% endblock %}