{% extends "panel.html" %}
{% block content %}
<main>
    <form class="fromPuesto" method="POST" action="/clientes/insertarCliente">
        <h3 class="puesto_title">Cliente </h3>
        <a href="{{url_for('clientes.getAll')}}" class="btn btn-outline-success">
            <span class="material-symbols-sharp">assignment_return</span>
        </a>
        <h6 class="puesto_message">Registra un nuevo cliente. </h6>
        <div class="flex">
        <label>
            <input required placeholder type="text" name="nombres" class="input_puesto">
            <span>Nombres</span>
        </label>
        
        <label>
            <input required="" placeholder="" type="text" name="apellidos" class="input_puesto">
            <span>Apellidos</span>
        </label>
        </div>
        <div class="flex">
        <label>
            <input required="" placeholder="" type="text" name="calle" class="input_puesto">
            <span>Calle</span>
        </label>

        <label>
            <input required="" placeholder="" type="text" name="colonia" class="input_puesto">
            <span>Colonia</span>
        </label>
        </div>
        <div class="flex">
        <label>
            <input required="" placeholder="" type="number" name="codigo_postal" class="input_puesto" minlength="5" maxlength="5" oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">
            <span>Codigo Postal</span>
        </label>
        <label>
            <input required="" placeholder="" type="text" name="celular" class="input_puesto">
            <span>Celular</span>
        </label>
        </div>
        <label>
            <input required=""  type="email" name="correo" class="input_puesto">
            <span>Email</span>
        </label>
        <label>
            <input required="" type="password" name="password" class="input_puesto">
            <span>Contraseña</span>
        </label>
        <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
        <button class="submit">Agregar</button>
    
    </form>
</main>
{% endblock %}