{% extends "panel.html" %}
{% block content %}
<main>
    
    <div class="recent-order">
        <h2>&Aacute;rea de Trabajo</h2><br>
        <a href="{{url_for('proveedor.insertar_proveedor')}}" class="btn primary">
            <span class="material-symbols-sharp">data_saver_on</span>
            <h3>Nuevo</h3>
        </a>
        <br><br>
        <p></p>
        <table id="tblProveedor">
            <thead>
                <tr>
                <th>Alias</th>
                <th>Raz&oacute;n Social</th>
                <th>RFC</th>
                <th>Direcci&oacute;n</th>
                <th>Celular</th>
                <th></th>
                <th></th>
                </tr>
            </thead>
            <tbody>
                {%for row in resulset %}
                <tr>
                    <td>{{row[3]}}</td>
                    <td>{{row[1]}}</td>
                    <td>{{row[2]}}</td>
                    <td>{{row[10]}}, {{row[11]}}, {{row[7]}}, {{row[8]}}</td>
                    <td>{{row[6]}}</td>

                    <th>
                        <a class="warning" href="verProveedor?id={{ row[0] }}" class="btn">
                            <span class="material-symbols-sharp">edit_document</span>
                        </a>
                    </th>

                    <th>
                        <a class="primary" href="eliminarProveedor?id={{ row[0]}}" class="btn">
                            <span class="material-symbols-sharp">delete</span>
                        </a>
                    </th>
                </tr>
                {%endfor%}
            </tbody>
        </table>
    </div>
</main>

<script src="../../static/js/proveedor/datables.js"></script>

{% endblock %}