{% extends "panel.html" %}
{% block content %}
<main>
    
    <div class="recent-order">
        <h2>Recetas</h2>
        <a href="{{url_for('receta.insert')}}" class="btn primary">
            <span class="material-symbols-sharp">data_saver_on</span>
            <h3>Nuevo</h3>
        </a>
        <table id="tblReceta">
            <thead>
                <tr>
                <th>Receta</th>
                <th>Descripcion</th>
                <th>Tiempo</th>
                <th>Calorias</th>
                <th></th>
                <th></th>
                <th></th>
                </tr>
            </thead>
            <tbody>
                {%for row in resulset %}
                <tr>
                    <td>{{row[1]}}</td>
                    <td>{{row[2]}}</td>
                    <td>{{row[3]}}</td>
                    <td>{{row[4]}}</td>
                    <td ><a class="success" href="verDetalle?id={{ row[0] }}" class="btn">
                        <span class="material-symbols-sharp">description</span>
                    </a></td>
                    <td ><a class="warning" href="updateReceta?id={{ row[0] }}" class="btn">
                        <span class="material-symbols-sharp">edit_document</span>
                    </a></td>
                    <td><a class="primary" href="deleteReceta?id={{ row[0] }}" class="btn">
                        <span class="material-symbols-sharp">delete</span></a>
                    </td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
    </div>
</main>
<script src="../../static/js/receta/datatables.js"></script>
{% endblock %}