{% extends "panel.html" %}
{% block content %}
<main>
    
    <div class="recent-order">
        <h2>Menu</h2>
        <a href="{{url_for('menu.insert')}}" class="btn primary">
            <span class="material-symbols-sharp">data_saver_on</span>
            <h3>Nuevo</h3>
        </a>
        <table>
            <thead>
                <tr>
                <th>Platillo</th>
                <th>Imagen</th>
                <th>Descripcion</th>
                <th>costo</th>
                <th></th>
                <th></th>
                </tr>
            </thead>
            <tbody>
                {%for row in resulset %}
                <tr>
                    <td>{{row[1]}}</td>
                    <td><img src="../../static/img/{{row[3]}}" width="60px" height="60px" alt="Platillo" class="img_receta"></td>
                    <td>{{row[2]}}</td>
                    <td>${{row[4]}}</td>
                    <td ><a class="warning" href="updateMenu?id={{ row[0] }}" class="btn">
                        <span class="material-symbols-sharp">edit_document</span>
                    </a></td>
                    <td><a class="primary" href="deleteMenu?id={{ row[0] }}" class="btn">
                        <span class="material-symbols-sharp">delete</span></a>
                    </td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
    </div>
</main>
{% endblock %}