{% extends "panel.html" %}
{% block content %}
<main>
    <form class="fromPuesto" method="POST" action="/puesto/updatePuesto">
        <h3 class="puesto_title">Puesto </h3>
        <a href="{{url_for('puestos.getAll')}}" class="btn btn-outline-success">
            <span class="material-symbols-sharp">assignment_return</span>
        </a>
        <h6 class="puesto_message">Actualiza el tipo de puesto </h6>
        {% for row in resulset %}
        <label style="display:none;">
            <input  type="text" name="id" class="input_puesto" value="{{row[0]}}">
            <span>id</span>
        </label>  
        <label>
            <input required="" placeholder="" type="text" name="puesto" class="input_puesto" value="{{row[1]}}">
            <span>Tipo Puesto</span>
        </label>             
        <label>
            <input required="" placeholder="" type="text" name="descripcion" class="input_puesto" value="{{row[2]}}">
            <span>Descripcion</span>
        </label>
        {% endfor %}  
        <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
        <button class="submit">Actualizar</button>
    
    </form>
</main>
{% endblock %}