{% extends "layout.html" %}
{% block title %}BIENVENIDO{% endblock %}
{% block description %}BIENVENIDOACRAZY BURGER{% endblock %}
{% block content %}
<div class="container__home">
  <div class="hero">
    <h2 class="title__hero">Bienvenido a Crazy Burger</h2>
    <p class="text__hero">Disfruta de tu comida favorita, hamburguesas, papas fritas, hot dogs. Lo que se te antoje ven
      a Crazy Burger</p>
    <button class="btn__hero"><a href="#conocenos">Conocenos</a></button>
  </div>
  <div class="container__somos">
    <div class="info__somos">
      <h3 class="title__somos" id="conocenos">¿Quienes somos?</h3>
      <p class="somos">
        Crazy Burger era una idea que nació en la mente de dos amigos, Javier y Luis, quienes eran amantes de las
        hamburguesas.
        Un día, mientras disfrutaban de una hamburguesa en un local de comida rápida, se dieron cuenta de que en León,
        Guanajuato, faltaba un lugar que ofreciera hamburguesas de calidad y con un toque innovador. Así, decidieron
        unirse y
        crear su propio negocio de comida rápida.
        <br><br>
        Una vez que tuvieron su menú listo, buscaron un local en una ubicación céntrica de León, Guanajuato, y abrieron
        las
        puertas de Crazy Burger. Desde el primer día, su concepto de hamburguesas únicas y deliciosas se volvió un
        éxito. Los
        clientes quedaron impresionados con la calidad de los ingredientes y el sabor excepcional de las hamburguesas de
        Crazy Burger.
        <br><br>
        Hoy en día, Crazy Burger es una exitosa cadena de comida rápida, que pretende seguir creciendo a todo Guanajuato
      </p>
    </div>
    <div class="logo__somos">
      <img class="img__somos" src="../static/img/logo.png" alt="CRAZY BURGER">
    </div>
  </div>
  <div class="container__filos">
    <h3 class="title__filos">Filosofia</h3>
    <p class="filosofia">
      En Crazy Burguer, creemos que la comida rápida puede ser deliciosa, innovadora y de calidad. Nos apasiona ofrecer
      hamburguesas únicas y sabrosas, utilizando ingredientes frescos y locales siempre que sea posible. Valoramos la
      satisfacción de nuestros clientes y nos esforzamos por brindarles una experiencia excepcional en cada visita.
    </p>
    <button class="btn__filos"><a href="{{ url_for('platillos.productos') }}">Conoce nuestros productos</a></button>
  </div>
  <div class="container__cards">
    <div class="card">
      <h5 class="mision">Misión</h5>
      <p>
        Nuestra misión es ofrecer hamburguesas excepcionales que deleiten a nuestros clientes y superen sus
        expectativas. Nos dedicamos a utilizar ingredientes frescos y locales siempre que sea posible, a mantener altos
        estándares de
        calidad en todos nuestros productos y a brindar un servicio amable y rápido en un ambiente acogedor y limpio.
      </p>
    </div>
    <div class="card">
      <h5 class="vision">Visión</h5>
      <p>
        Nuestra visión es convertirnos en la cadena de comida rápida preferida en León, Guanajuato, y en las ciudades
        circundantes, reconocida por nuestras hamburguesas innovadoras, deliciosas y de calidad, así como por nuestro
        compromiso con los ingredientes frescos y locales.
      </p>
    </div>
    <div class="card">
      <h5 class="valores">Valores</h5>
      <ul class="list__card">
        <li class="li__card">
          Calidad: calidad en todos los aspectos de nuestro negocio, en los ingredientes que
          utilizamos hasta el servicio a nuestros clientes.
        </li>
        <li class="li__card">
          Innovación: mejorar y ofrecer hamburguesas de calidad
          que sorprendan a nuestros clientes.
        </li>
        <li class="li__card">
          Satisfacción del cliente: escuchando sus necesidades y
          brindándoles una experiencia excepcional en cada visita a Crazy Burger.
        </li>
      </ul>
    </div>
  </div>
  <div class="container__contact">
    <div class="img__contact">
    </div>
    <div class="form__contact">
      <form action="/">
        <h5 class="title__form">Contactanos</h5>
        <input type="email" name="email" placeholder="Correo">
        <textarea name="message" id="" cols="30" rows="10"></textarea>
        <input type="submit" value="Mandar">
      </form>
    </div>
  </div>
</div>
<footer>
  <div class="container__footer">
    <div class="datos__contacto">
      <ul class="ul__contact">
        <li><span>Dirección: Miguel Lara 321. Col León II, Guanajuato México</span></li>
        <li><span>Teléfono: (+52) 4791458890</span></li>
        <li><span>Horario de atención: Lunes a domingo 2:00pm - 12:00am</span></li>
      </ul>
      <ul class="ul__redes">
        <li><a href="https://www.facebook.com/"><i class="fa-brands fa-facebook-f"></i></a></li>
        <li><a href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i></a></li>
        <li><a href="https://www.twitter.com/"><i class="fa-brands fa-twitter"></i></a></li>
      </ul>
      <span class="derechos">
        ©2023 Crazy Burger. Todos los derechos reservados. Este mensaje es confidencial y está dirigido únicamente a
        su
        destinatario. Si usted ha recibido este mensaje por error, por favor notifíquenoslo de inmediato y elimine el
        mensaje de
        su sistema.
      </span>
    </div>
  </div>
</footer>
{% endblock %}