{% extends "panel.html" %}
{% block content %}
<main>
    <h1>DashBoard</h1>
    <div class="date">
        <input type="date" value="{{fecha_actual}}">
    </div>
    <div class="insights">
        <div class="sales">
            <span class="material-symbols-sharp">analytics</span>
            <div class="middle">
                <div class="left">
                    <h3>Total Ventas</h3>
                    {%for row in totalV %}
                    <h1><label >$</label>{{row[0]}}</h1>
                    {%endfor%}
                </div> 
            </div>
            <small class="text-muted">Ultimas 24 horas</small>
        </div>
        
        
    </div> 
        <div class="recent-order">
            <h2>Pedidos Recientes</h2>
            <table>
                <thead>
                    <tr>
                    <th>Producto</th>
                    <th>Cantidad</th>
                    <th>Total</th>
                    <th>Fecha Pedido</th>
                    <th>Estatus</th>
                    </tr>
                </thead>
                <tbody>
                    {%for row in pedidos %}
                    <tr>
                        <td>{{row[1]}}</td>
                        <td>{{row[3]}}</td>
                        <td>{{row[7]}}</td>
                        <td>{{row[6]}}</td>
                        <td class="warning">Finalizados</td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div>
    
</main>
{% endblock %}