<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CRAZY BURGER - {% block title%}HOME{% endblock %}</title>
  <meta name="description" content="{% block description%}BIENVENIDO A CRAZY BURGER{% endblock %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
  <link rel="stylesheet" href="../static/css/style_final.css">
</head>

<body>
  <header class="header">
    <nav class="nav__header">
      <h5 class="title__header"><a href="{{ url_for('main.index') }}">Crazy Burgers</a></h5>
      <ul class="menu__header">
        <li class="option_menu"><a href="{{ url_for('auth.login') }}">INICIAR SESIÓN</a></li>
        <li class="option_menu"><a href="{{ url_for('auth.register') }}">REGISTRARSE</a></li>
        <li class="option_menu"><a href="{{ url_for('platillos.productos') }}">PRODUCTOS</a></li>
        <li class="option_menu">
          <a href="{{ url_for('pedidos.historial_pedidos') }}">
            <i class="fa-solid fa-cart-shopping" style="color: #f4ff81;"></i>
          </a>
        </li>
        <li class="option_menu">
          <a href="">
            <i class="fa-solid fa-bag-shopping" style="color: #f4ff81;"></i>
          </a>
        </li>
        <li class="option_menu">
          <a href="{{ url_for('pedidos.perfil_usuario', id = current_user.id) }}">
            <i class="fa-solid fa-user" style="color: #f4ff81;"></i>
          </a>
        </li>
      </ul>
    </nav>
    <div class=" dropdown">
      <button><i class="fa-solid fa-caret-down"></i></button>
      <div class="dropdown-content">
        <a href="{{ url_for('main.index') }}">Inicio</a>
        <a href="{{ url_for('auth.login') }}">Login</a>
        <a href="{{ url_for('auth.register') }}">Join</a>
        <a href="{{ url_for('platillos.productos') }}">Productos</a>
        <a href="{{ url_for('pedidos.historial_pedidos') }}">Carrito</a>
        <a href="/profile">Compras</a>
        <a href="{{ url_for('pedidos.perfil_usuario', id = current_user.id) }}">Perfil de usuario</a>
      </div>
    </div>
  </header>

  <div class="container_alerts" style="font-weight: bold; text-align: center;">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    {% if 'error' in message %}
    <div class="alert-error"><i class="fa-solid fa-xmark"></i> {{ message }}</div>
    {% elif 'warning' in message %}
    <div class="alert-warning"><i class="fa-solid fa-triangle-exclamation"></i> {{ message }}</div>
    {% else %}
    <div class="alert-success"><i class="fa-solid fa-circle-check"></i> {{ message }}</div>
    {% endif %}
    {% endfor %}
    {% endif %}
    {% endwith %}
  </div>

  {% block content %}
  {% endblock %}
</body>

</html>