{% extends "layout.html" %}
{% block title %}EDITAR COMPRA{% endblock %}
{% block description %}PROCESO DE COMPRA{% endblock %}
{% block content %}
<div class="container__detail">
  <div class="detail">
    <div class="detail__img">
      <div>
        <img src="../static/img/producto.png" alt="PRODUCTO">
      </div>
    </div>
    <div class="form__detail">
      <h1>Generar pedido</h1>
      <form action="/pedido/generarPedido" method="POST">
        {% for platillo in platillos %}
        <input type="number" name="id" id="id" placeholder="Id del producto" value="{{ platillo[0] }}" hidden>
        <div class="inputs">
          <input type="text" name="name" id="name" value="{{ platillo[1] }}">
          <input type="number" name="precioUnitario" value="{{ platillo[7] }}">
        </div>
        <span>{{ platillo[2] }}</span>
        {% endfor %}
        <input type="hidden" name="csrf_token" value="{{csrf_token()}}" />
        <div class="inputs">
          <div class="input_unidades">
            <button>-</button>
            <input type="number" name="unidades" id="units" class="unidades">
            <button>+</button>
          </div>
          <input type="submit" value="Agregar">
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}