{% extends "layout.html" %}
{% block title %}EDITAR COMPRA{% endblock %}
{% block description %}PROCESO DE COMPRA{% endblock %}
{% block content %}
<div class="container__detail">
  <div class="detail">
    <div class="detail__img">
      <div>
        <img src="../static/img/producto.png" alt="PRODUCTO">
      </div>
    </div>
    <div class="form__detail">
      <form action="/generarPedido" method="POST">
        <h1>Generar Pedido</h1>
        <div class="input">
          <select name="complements" id="complements">
            <option value="1" selected>Selecciona primer complemento</option>
            <option value="2">Papas</option>
            <option value="3">Refresco</option>
            <option value="4">Hot Dog</option>
          </select>
        </div>
        <div class="inputs">
          {% for platillo in platillos %}
          <input type="number" name="id" id="id" placeholder="Id del producto" value="{{ platillo[0] }}" disabled
            hidden>
          <input type="text" name="platillo" id="product" placeholder="Nombre del Producto" value="{{ platillo[1] }}"
            disabled style="color: #000000; background-color: #ffffff; border: none; font-size: 1.1rem;">
          <input type="number" name="total" id="total" class="total" placeholder="Precio Unidad"
            value="{{ platillo[7] }}" disabled
            style="color: brown; background-color: #ffffff; border: none; font-size: 1.1rem;">
          {% endfor %}
        </div>
        <div class="inputs">
          <input type="number" name="unidades" id="units" placeholder="Número de unidades">
          <input type="submit" value="Agregar">
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}