<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CrazyBurger | Dashboard</title>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="../static/css/dash.css">
    <!-- Cargar Librerias de Jquery -->
    <script src="https://code.jquery.com/jquery-3.6.4.js" integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=" crossorigin="anonymous"></script>

    <!-- Libreria de Swal Alert -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!-- Libreria de Datables -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>
</head>

<body>
    <div class="container">
        <aside>
            <div class="top">
                <div class="logo">
                    <img src="../static/img/logo.png" alt="CarzyBurger">
                    <h2>Carzy<span class="danger">Burger</span></h2>
                </div>
                <div class="close" id="close-btn">
                    <span class="material-symbols-sharp">close</span>
                </div>
            </div>
            <div class="sidebar">
                <a href="{{ url_for('main.profile') }}" class="active">
                    <span class="material-symbols-sharp">dashboard</span>
                    <h3>DashBoard</h3>
                </a>
                <a href="{{ url_for('clientes.getAll') }}">
                    <span class="material-symbols-sharp">location_away</span>
                    <h3>Clientes</h3>
                </a>
                <a href="#">
                    <span class="material-symbols-sharp">badge</span>
                    <h3>Empleados</h3>
                </a>
                <a href="{{ url_for('puestos.getAll') }}">
                    <span class="material-symbols-sharp">home_repair_service</span>
                    <h3>Puestos</h3>
                </a>
                <a href="{{url_for('departamento.getAll')}}">
                    <span class="material-symbols-sharp">real_estate_agent</span>
                    <h3>Departamentos</h3>
                </a>
                <a href="{{url_for('proveedor.getAll')}}">
                    <span class="material-symbols-sharp">supervisor_account</span>
                    <h3>Proveedores</h3>
                </a>
                <a href="#">
                    <span class="material-symbols-sharp">point_of_sale</span>
                    <h3>Ventas</h3>
                </a>
                <a href="#">
                    <span class="material-symbols-sharp">store</span>
                    <h3>Compras</h3>
                </a>
                <a href="#">
                    <span class="material-symbols-sharp">menu_book</span>
                    <h3>Menu</h3>
                </a>
                <a href="#">
                    <span class="material-symbols-sharp">restaurant</span>
                    <h3>Recetas</h3>
                </a>
                <a href="#">
                    <span class="material-symbols-sharp">lunch_dining</span>
                    <h3>Ingredientes</h3>
                </a>
                <a href="#">
                    <span class="material-symbols-sharp">food_bank</span>
                    <h3>Inventario</h3>
                </a>
                <a href="{{url_for('empresa.getAll')}}">
                    <span class="material-symbols-sharp">apartment</span>
                    <h3>Empresa</h3>
                </a>
                <a href="{{ url_for('auth.logout') }}">
                    <span class="material-symbols-sharp">logout</span>
                    <h3>Log Out</h3>
                </a>
            </div>
        </aside>
        {% block content %}

        {% endblock %}

        <div class="right">
            <div class="top">
                <button id="menu-btn">
                    <span class="material-symbols-sharp">menu</span>
                </button>
                <div class="theme-toggler">
                    <span class="material-symbols-sharp active">light_mode</span>
                    <span class="material-symbols-sharp">dark_mode</span>
                </div>
                <div class="profile">
                    <div class="info">
                        <p><b>{{name}}</b></p>
                        <small class="text-muted">Admin</small>
                    </div>
                    <div class="profile-photo">
                        <img src="../static/img/logo.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../static/js/index.js"></script>
</body>

</html>