{% extends "layout.html" %}
{% block title %}CONFIRMAR PEDIDO{% endblock %}
{% block description %}PROCESO DE COMPRA{% endblock %}
{% block content %}
<div class="container__shoping">
  <div class="shoping">
    <form action="">
      <h1>Detalle Pedido</h1>
      <div class="norm">
        <input type="text" name="product" id="product" placeholder="Nombre del Producto" disabled>
      </div>
      <div class="shoping__detail">
        <input type="number" name="price" id="price" placeholder="Precio Unidad" disabled>
        <input type="number" name="units" id="units" placeholder="Número de Unidades" disabled>
      </div>
      <div class="norm">
        <input type="text" name="address" id="address" placeholder="Dirección de Entrega">
      </div>
      <div class="shoping__prices">
        <input type="number" name="subprice" id="suprice" placeholder="Precio Total" disabled>
        <input type="number" name="iva" id="iva" placeholder="Total IVA" disabled>
      </div>
      <div class="shoping__btn">
        <button class="btn_edit"><a href="/shop_edit">Editar</a></button>
        <button class="btn_compra"><a href="/profile">Comprar</a></button>
      </div>
    </form>
  </div>
</div>
{% endblock %}