{% extends "layout.html" %}
{% block title %}EDITAR COMPRA{% endblock %}
{% block description %}PROCESO DE COMPRA{% endblock %}
{% block content %}
<div class="container__detail">
  <div class="detail">
    <div class="detail__img">
      <div>
        <img src="../static/img/producto.png" alt="PRODUCTO">
      </div>
    </div>
    <div class="form__detail">
      <form action="">
        <h1>Editar Pedido</h1>
        <div class="inputs">
          <input type="text" name="product" id="product" placeholder="Nombre del Producto" disabled>
          <input type="number" name="units" id="units" placeholder="Número de unidades">
        </div>
        <div class="input">
          <select name="complements" id="complements">
            <option value="#" selected>Selecciona un complemento</option>
            <option value="#">Papas</option>
            <option value="#">Refresco</option>
            <option value="#">Hot Dog</option>
          </select>
        </div>
        <div class="input">
          <input class="coments" type="text" name="coments" id="comenst" placeholder="Comentario o pedido especifico">
        </div>
        <div class="input">
          <input type="number" name="total" id="total" placeholder="Total a Pagar" disabled>
        </div>
        <div class="inputs">
          <button class="btn__car"><a href="/car">Carrito</a></button>
          <button class="btn__shop"><a href="/shoping">Continuar</a></button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}